* {
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
}
/* inline elements */
a {
  text-decoration: none;
}
.mainBody{
  /*background: red;*/
  width: 400px;
  height: 400px;
  position: absolute;
  left:50%;top:50%; 
  margin-left:-200px;margin-top:-250px;
  /*background: red;*/
}

#portrait {
  display:block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
  
#me {
  height: 168px;
  width: 168px;
  margin: auto;
}
 
#me img {
  border-radius: 50%;
  max-width: 100%;
}
#posts h2{
  color:#6A85B3;
  font-size:1.25em;
}

#intro {
  display: block;
  color:#444;
  text-align: center;
  margin-top: 30px;
}
#intro strong
{
  font-size: 1.5em;
  color:#6A85B3;
} 
#intro   p {
  font-size: 1.3em;
  margin-top:1em;
  color:#444;
}
#contact {
  width: 300px;
  height: 30px;
  margin: 0 auto;
  margin-top: 40px;
  /*background: black;*/
}

.one{
  display: inline-block;
  width: 32%;
  height:100%;
  margin: 0 auto;
  /*background-color: #A1B373;*/
  color: #666;
  font-size: 1.2em;
  line-height: 2em;
  text-align: center;
}
.one:hover{
  color: #6A85B3;
}
#blue
{
    background-color:#6986B0;
}
#blue:hover {
    background-color: #6A85B3;
}

/* responsive */
@media (max-width: 767px) {
.mainBody{
  width: 100%;
  left:0%;top:50%; 
  margin-left:0px;margin-top:-180px;
}
#portrait #me {
  width: 120px;
  height: 120px;
}
#posts ul  li {
  font-size: 1.1em;
}
#intro {
  font-size: 0.8em;
  padding-left: 5px;
  padding-right: 5px;
}
#contact {
  width: 260px;
}

}
