
body{
  font-family:Microsoft YaHei,SimHei,sans-serif;
  font-weight: 100;
  font-size: 100%;
  font: inherit;
  margin:0;
  text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;

}
h1{font-size:1.75em;}
h2{font-size:1.3em;}
.pure-g{
  letter-spacing:-.31em;*letter-spacing:normal;*word-spacing:-.43em;text-rendering:optimizespeed;
  font-family:Microsoft YaHei,SimHei,sans-serif;
  display:-webkit-flex;-webkit-flex-flow:row wrap;
  display:-ms-flexbox;-ms-flex-flow:row wrap;
}
.pure-g{word-spacing:-.43em}
.pure-u-1-3
{
  display:inline-block;*display:inline;
  zoom:1;letter-spacing:normal;
  word-spacing:normal;
  vertical-align:top;
  text-rendering:auto;
  width:33.3333%;*width:33.3023%;
  }

#portrait {
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top:4em;
  text-align: center;
}
  
#me {
  height: 168px;
  width: 168px;
  margin: auto;
}
  
#me img {
  border-radius: 50%;
  max-width: 100%;
}
#posts h2{
  color:#6A85B3;
  font-size:1.25em;
}

#intro {
  color:#444;
  text-align: center;
}
#intro  h1 {
  font-size: 2.5em;
  color:#6A85B3;
  }
#intro   p {
  font-size: 1.75em;
  margin-top:1em;
  color:#444;
}
#posts {
  width: 75%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  color:#444;
}

#posts ul {
  margin: 0;
  display:block;
  padding: 0;
  list-style-type: none;
  margin-bottom: 2em;
}

#posts ul li {
  margin-bottom: 1em;
  display:block;
  font-size: 1.2em;
}

#posts ul time {
  color: #aaa;
  font-size: 90%;
}
#about {
  width: 80%;
  max-width: 440px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:4em;
  color:#444;
}
#about{
  font-size:1.2em;
}
a {
  color:#A1B373;
  text-decoration: none;
  font-size:0.97em;
}
a:hover{
  color: #899d5b;
}
a:focus{outline:thin dotted}
a:active,a:hover{outline:0}
#contact {
  width: 250px;
  margin: 2em auto;
  margin-bottom:30px;
}

.one{
  display: block;
  width: 2em;
  height: 2em;
  margin: 0 auto;
  background-color: #A1B373;
  color: #fff;
  font-size: 1.75em;
  line-height: 2em;
  text-align: center;
  border-radius: 50%;
}
.one:hover{
  background-color: #899d5b;
}
#blue
{
    background-color:#6986B0;
}
#blue:hover {
    background-color: #6A85B3;
}

/* responsive */
@media (max-width: 767px) {
#portrait #me {
  width: 120px;
  height: 120px;
}
#posts ul  li {
  font-size: 1.1em;
}
#intro {
  font-size: 0.8em;
}
#contact {
  width: 180px;
}

#contact  span {
  font-size: 1.3em;
}
#about{
  font-size:1.1em;
}
#about a ,#posts a {
  font-size:0.95em;
}
 #posts h2 { font-size: 1.2em; }
}
