
.content{
	padding-left:15%;
	padding-right:25%;
  	margin: 0 auto;
}
.content img{max-width:100%;height:auto}
article {
  font-family:Microsoft YaHei,SimHei,sans-serif;
  padding-bottom:3em;
  padding-top:1.5em;
  font-weight: 200; 
  line-height:25px;
  font-size: 1em;
  color: #444444;
}
article  h1 {
  font-size: 1.6em;
  margin: 0 0 0 -0.08em;
}
article  .body { clear: left;}

article  blockquote {
    border-left: 4px solid #cccccc;
    padding: 0 15px;
    color: #666666;
    font-size: 1.0em;
    line-height:25px;
    margin-left:0px;
    margin-right:0px;
}
hr
{
    height: 1px;
    padding: 0;
    margin: 16px 0;
    background-color: #eee;
    border: 0 none;
    overflow: hidden;
}
article     h1,
article     h2,
article     h3,
article     h4,
article     h5,
article     h6 {
    position: relative;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #333333;
    font-weight:normal; 
}
a {
    color: #6A85B3;
    text-decoration: none;
}
a:hover {
    color: #6A85B3;
}
strong{
   font-weight:normal; 
   color: #333333;
}
time {
  color: #aaa;
  margin-top:1em;
}
time a 
{
  padding-top: 10px;
}

/* responsive */
@media (max-width: 767px) {
	
  .content{
	padding-left:5px;
	padding-right:5px;
  }
  article {
    font-size: 1.1em;
      padding-top:0.3em;
  }
  h1 { font-size: 1.5em; }
  #sideBar{
    display: none;
  }
}



/*生成博客目录的CSS*/
#sideBar{
    font-size:14px;
    font-family:Microsoft YaHei,SimHei,sans-serif;
    text-align:left;
    position:fixed;
    top:50px;
    left: 77%;
    width: auto;
    height: auto; 
    /*border: 1px solid #333;*/
    color: #444444;
}

#portrait {
  display:block;
  text-align: center;
}
#portrait a{
  display: block;
  width: 100%;
  color:#6A85B3;
  font-size:1.75em;
  text-align: center;
}
#me {
  height: 160px;
  width: 160px;
  margin: auto;
  display: block;
  margin-bottom: 10px;
}
#me a{
  color: #ffffff;
}
#me img {
  border-radius: 50%;
  max-width: 100%;
}
#sideBarContents{
    float:left;
    overflow:auto; 
    overflow-x:hidden;!important;
    width:200px;
    min-height:108px;
    max-height:600px;
    background:#ffffff;
}
#sideBarContents dl{
    margin:0;
    padding:0;
}

#sideBarContents dt{
    margin-top:5px;
    margin-left:5px;
}
#sideBarContents dd{
    margin-top:5px;
    margin-left:20px;
}
#sideBarContents dd, dt {
    cursor: pointer;

}
#toc
{
  display: block;
  margin-bottom: 3em;
}
#back
{
  display: block;
}
#back a{
  font-size: 1.25em;
}
#back .backBtn{
  float: left;
  margin-left: 20px;
}
#back .topBtn{
  float: right;
  margin-right: 20px;
}
#sideBarContents dd:hover, dt:hover {
    color:#6A85B3;
}