*{
  font-family: "Open Sans","Clear Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight:300;
  font-size: 16px;
}
body{
  background-color: #ECECEC;
}

/*post 内容部分*/
.content{
	padding-left:15%;
	padding-right:25%;
  max-width: 1500px;
  margin: 0 auto;
}
.content img{
  max-width:100%;
  height:auto;
}
article {
  padding-bottom:3em;
  padding-top:1.5em;
  line-height:25px;
  font-size: 1em;
  color: #444444;
}

article  .body { 
  padding-top: 1em;
  clear: left;
}
article  blockquote {
    border-left: 4px solid #cccccc;
    padding: 0 15px;
    color: #666666;
    font-size: 1.0em;
    line-height:25px;
    margin-left:0px;
    margin-right:0px;
}
article     h1,
article     h2,
article     h3,
article     h4,
article     h5,
article     h6 {
    position: relative;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #333333;
}

article h1 {
    padding-bottom: .3em;
    font-size: 2.2em;
    line-height: 1.2;
}
article h2 {
   padding-bottom: .3em;
    font-size: 1.7em;
    line-height: 1.225;
}
article h3 {
    font-size: 1.35em;
    line-height: 1.2;
}
article h4 {
    font-size: 1.2em;
}
article h5 {
    font-size: 1.1em;
}
article h6 {
   font-size: 1em;
    color: #777;
}

hr {
    height: 1px;
    padding: 0;
    margin: 16px 0;
    background-color: #eee;
    border: 0 none;
    overflow: hidden;
}

a {
    color: #5267CC;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
strong{
   font-weight:normal; 
   color: #333333;
}
time {
  color: #aaa;
}

/* 小屏幕 word-wrap 解决英文不换行问题*/
@media (max-width: 767px) {
  .content{
	padding-left:5px;
	padding-right:5px;
  word-wrap:break-word;word-break:break-all;
  }
  article {
    font-size: 1.1em;
      padding-top:0.3em;
  }
  article h1 { font-size: 1.5em; }
  #sideBar{
    display: none;
  }
}

/*生成博客目录的CSS*/
#sideBar{
    text-align:left;
    position:fixed;
    top:50px;
    left: 77%;
    width: 200px;
    min-height: 100px;
    overflow:hidden;!important;
    background-color: #ECECEC;
}
#sideBar h1{
    font-size:18px;
    font-weight:500;
    color: #333333;
}
#sideBar dl,dt,dd{
    font-size: 14px;
    font-weight:400;
}
#portrait {
  display:block;
  text-align: left;
  margin-bottom: 15px;
}
#portrait a{
  display: block;
  width: 100%;
  color:#6A85B3;
  font-size:1.75em;
  text-align: left;
}

#sideBarContents{
  display: block;
  width:100%;
  min-height:108px;
  margin-bottom: 30px;
  background-color: #ECECEC;
}
#sideBarContents dl{
    margin:0;
    padding:0;
}

#sideBarContents dt{
    margin-top:5px;
    margin-left:5px;
}
#sideBarContents dd{
    margin-top:5px;
    margin-left:20px;
}
#sideBarContents dd, dt {
    cursor: pointer;
}
#sideBarContents dd:hover, dt:hover {
    color:#6A85B3;
}