/* 代码块样式 */
.highlight{
      background: #f8f8f8;
      border: 1px solid #DDDDDD;
      padding:15px;
      color:#666666;
	  font-family: "Open Sans","Clear Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	  font-weight:300;
      font-size: 15px;
      line-height:25px;
      word-wrap: break-word;
      white-space: pre-wrap;
}
