//post 封装页
article {
  font-family:Microsoft YaHei,SimHei,sans-serif;
  padding-right:3em;
  font-weight: 200; 
  line-height:25px;
  font-size: 1.1em;
  h1 {
    font-size: 1.75em;
    margin: 0 0 0 -0.08em;
  }
  ul {
    &.meta {
      margin: 0 0 3em;
      padding: 0;
      list-style: none;
      
      li {
        margin-right: 0.5em;
    		white-space:nowrap;
    		display:block;
    		float: left;
    		font-size: 1.1em;
      }
    }
  }
  .body { clear: left;}

    blockquote {
        border-left: 4px solid #cccccc;
        padding: 0 15px;
        color: #666666;
        font-size: 1.0em;
        line-height:25px;
        margin-left:0px;
    }
    blockquote blockquote {
        padding-right: 0;
    }
    hr
    {
        height: 1px;
        padding: 0;
        margin: 16px 0;
        background-color: #eee;
        border: 0 none;
        overflow: hidden;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        position: relative;
        margin-top: 1rem;
        margin-bottom: 1rem;
        cursor: text;
        color: #333333;
    }
  a {
      color: #6A85B3;
      &:hover {
        color: darken($header-color, 10%);
      }
    }
}

/* responsive */
@media (max-width: 767px) {
  article {
    padding: 1em;
    font-size: 1.1em;
    h1 { font-size: 1.75em; }
  }
}
