<!DOCTYPE HTML>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:url" content="{{ site.github.url }}">
  <meta property="og:image" content="{{ site.github.url }}/img/portrait.png">
  <link rel="stylesheet" href="{{ site.github.url }}/css/home.css">
  <link rel="stylesheet" href="{{ site.github.url }}/css/combo.css">
</head>
<body>
  <section id="portrait">
    <div id="me"><img src="{{ site.github.url }}/img/portrait.JPG" alt="汐蓝·空"></div>
  </section>
  <section id="intro">
    {{ content }}
  </section>
  <section id="contact">
    <div class="pure-g">
      <div class="pure-u-1-3">
        <a class="one" href="{{ site.github.url }}{ page.url }}/study.html" id="blue">A</a>
      </div>
      <div class="pure-u-1-3">
        <span class="one" onclick="selectDot(this)">S</span>
      </div>
      <div class="pure-u-1-3">
        <span class="one" onclick="selectDot(this)">L</span>
      </div>
    </div>
  </section>
 <!--  <section id="about">
  <br/>
  生活只是不断的雕刻我们，而不是刻意刁难。
  <br/><br/>希望自己也能成为生活这把雕刻刀下的不错作品。
  <br/><br/>github : <a href="https://github.com/xilankong">汐蓝·空的github</a>
  <br/><br/>联系邮箱 : xilankong@126.com
  </section>
  <section id="posts" style="display:none;">
	{% for category in site.categories %}
	<div id="div_{{ forloop.rindex}}">
	<br/>
	<h2>{{ category | first }}</h2>
	<ul>
    {% for post in category.last %}
	  <li><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time>&nbsp;&nbsp;<a href="{{ site.github.url}}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
	</ul>
	</div>
	{% endfor %}
  </section>
 -->
</body>
</html>
