<!DOCTYPE HTML>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ site.github.url }}">
  <meta property="og:image" content="{{ site.github.url }}/img/portrait.png">
  {% include head.html %}
  
<script type="text/javascript">

	var about = document.getElementById("about");
	var study = document.getElementById("one");
	var learn = document.getElementById("two");
	var post = document.getElementById("posts");
	
	post.style.display = "none";

	function selectDot(a)
	{

	}
</script>
</head>
<body>
  <section id="portrait">
    <div id="me"><img src="{{ site.github.url }}/img/portrait.JPG" alt="汐蓝·空"></div>
  </section>
  <section id="intro">
    {{ content }}
  </section>
  <section id="contact">
    <div class="pure-g">
      <div class="pure-u-1-3">
        <a id="blue">A</a>
      </div>
      <div class="pure-u-1-3">
        <a>S</a>
      </div>
      <div class="pure-u-1-3">
        <a>L</a>
      </div>
    </div>
  </section>
  <section id="about">
  自我介绍
  
  </section>
  <section id="posts">
	{% for category in site.categories %}
	{% if forloop.rindex == 0%}
	<div id="one">
	{% else if  forloop.rindex == 1 %}
	<div id="two">	
	{% endif %}
	<h2>{{ category | first }}</h2>
	<ul>
    {% for post in category.last %}
	  <li><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time>&nbsp;&nbsp;<a href="{{ site.github.url}}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
	</ul>
	</div>
	{% endfor %}
  </section>

</body>
</html>
