<!DOCTYPE HTML>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ site.github.url }}">
  <meta property="og:image" content="{{ site.github.url }}/img/portrait.png">
  {% include head.html %}
  
<script type="text/javascript">

	function selectDot(span)
	{

		var about = document.getElementById("about");
		var study = document.getElementById("div_2");
		var life = document.getElementById("div_1");
		var post = document.getElementById("posts");
		var one = document.getElementsByClassName("one");

		if(span.innerText=='A'){		
			post.style.display = "none";
			about.style.display = "";	
			one[0].setAttribute("id","blue");
			one[1].removeAttribute("id");
			one[2].removeAttribute("id");
		}else
		if(span.innerText=='S'){		
			post.style.display = "";
			about.style.display = "none";	
			study.style.display = "";		
			life.style.display = "none";		
			one[1].setAttribute("id","blue");
			one[0].removeAttribute("id");
			one[2].removeAttribute("id");			
		}else
		if(span.innerText=='L'){		
			post.style.display = "";
			about.style.display = "none";	
			study.style.display = "none";		
			life.style.display = "";	
			one[2].setAttribute("id","blue");
			one[1].removeAttribute("id");
			one[0].removeAttribute("id");
		}
	}
</script>
</head>
<body>
  <section id="portrait">
    <div id="me"><img src="{{ site.github.url }}/img/portrait.JPG" alt="汐蓝·空"></div>
  </section>
  <section id="intro">
    {{ content }}
  </section>
  <section id="contact">
    <div class="pure-g">
      <div class="pure-u-1-3">
        <span class="one" onclick="selectDot(this)" id="blue">A</span>
      </div>
      <div class="pure-u-1-3">
        <span class="one" onclick="selectDot(this)">S</span>
      </div>
      <div class="pure-u-1-3">
        <span class="one" onclick="selectDot(this)">L</span>
      </div>
    </div>
  </section>
  <section id="about">
  <br/>
  <p>生活只是不断的雕刻我们，而不是刻意刁难。</p><p>希望自己也能成为生活这把雕刻刀下的不错作品。</p>
  <p>github : <a href="https://github.com/xilankong">汐蓝·空的github</a></p>
  <p>联系邮箱 : xilankong@126.com</p>
  </section>
  <section id="posts" style="display:none;">
	{% for category in site.categories %}
	<div id="div_{{ forloop.rindex}}">
	<br/>
	<h2>{{ category | first }}</h2>
	<ul>
    {% for post in category.last %}
	  <li><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time>&nbsp;&nbsp;<a href="{{ site.github.url}}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
	</ul>
	</div>
	{% endfor %}
  </section>

</body>
</html>
