<!DOCTYPE HTML>
<html>
<head>
  <title>汐蓝·空 | {{ page.title }}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta property="og:url" content="{{ site.github.url }}{{ page.url }}">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:image" content="{{ site.github.url }}/img/portrait.JPG">
  <meta property="og:site_name" content="汐蓝·空">
  <link rel="stylesheet" href="{{ site.github.url }}/css/universal.css">
  <link rel="stylesheet" href="{{ site.github.url }}/css/post.css">
  <link rel="stylesheet" href="{{ site.github.url }}/css/pygments.css">
<script type="text/javascript">
<script language="javascript" type="text/javascript">
//生成目录索引列表
function GenerateContentList()
{
    var jquery_h3_list = $('#post_body h3');//如果你的章节标题不是h3,只需要将这里的h3换掉即可
    if(jquery_h3_list.length>0)
    {
        var content = '<a name="_labelTop"></a>';
        content    += '<div id="navCategory">';
        content    += '<p style="font-size:18px"><b>阅读目录</b></p>';
        content    += '<ul>';
        for(var i =0;i<jquery_h3_list.length;i++)
        {
            var go_to_top = '<div style="text-align: right"><a href="#_labelTop">回到顶部</a><a name="_label' + i + '"></a></div>';
            $(jquery_h3_list[i]).before(go_to_top);
            var li_content = '<li><a href="#_label' + i + '">' + $(jquery_h3_list[i]).text() + '</a></li>';
            content += li_content;
        }
        content    += '</ul>';
        content    += '</div>';
        if($('#post_body').length != 0 )
        {
            $($('#post_body')[0]).prepend(content);
        }
    }    
}
GenerateContentList();
</script>
  </script>
</head>
<body>
  <div class="mianBody">
    <div class="content">
      <article>
        <h1 property="name">{{ page.title }}</h1>
        <time property="datePublished" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}  /   <a href="javascript:history.go(-1)"> {{page.category}} / 汐蓝·空 </a></time>
        <div class="body" property="articleBody">
          {{ content }}
        </div>
      </article>
    </div>
  </div>
</body>
</html>
