<!DOCTYPE HTML>
<html>
<head>
  <title>汐蓝·空 | {{ page.title }}</title>
  <meta property="og:url" content="{{ site.github.url }}{{ page.url }}">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:locale" content="en_US">
  <meta property="og:image" content="{{ site.github.url }}/img/portrait.JPG">
  <meta property="og:site_name" content="汐蓝·空">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="{{ site.github.url }}/css/universal.css">
  <link rel="stylesheet" href="{{ site.github.url }}/css/post.css">
  <link rel="stylesheet" href="{{ site.github.url }}/css/pygments.css">
</head>
<body>
  <div class="pure-g-r">
    <div class="pure-u-3-4">
      <article vocab="http://schema.org/" typeof="BlogPosting" resource="{{ site.github.url }}{{ page.url }}">
        <h1 property="name">{{ page.title }}</h1>
        <time property="datePublished" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time>
        <div class="body" property="articleBody">
          {{ content }}
        </div>
      </article>
    </div>
  </div>
</body>
</html>
