<!DOCTYPE HTML>
<html>
<head>
  <title>yang‘s blog | {{ page.title }}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:url" content="{{ site.github.url }}">
  <meta property="og:image" content="{{ site.github.url }}/img/portrait.png">
  <link rel="stylesheet" href="{{ site.github.url }}/css/study.css">
</head>
<body>
  <div id = "studyBody">
  <section id="posts">
	{% for category in site.categories reversed %}

	{% if category.first == "学习之路" or category.first contains "20" %}
	<div id="div_{{ forloop.rindex}}">
	<br/>
	<h2>{{ category | first }}</h2>
	<ul>
    {% for post in category.last %}
	  <li><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d"  }}</time>&nbsp;&nbsp;<a href="{{ site.github.url}}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
	</ul>
	</div>
	{% endif %}
	{% endfor %}
  </section>
      <div id="sideBar" class = "sideBar">
      <section id="portrait">
        <div id="me"><a href="{{ site.github.url }}"><img src="{{ site.github.url }}/img/portrait.JPG" alt="yang"></a></div>
        <a id="back" href="{{ site.github.url }}">yang</a>
        <br>
        <div class="github" >
          <a target="_blank" href="{{ site.github.url }}">主页</a> · 
        <a target="_blank" href="https://github.com/xilankong">资源</a> · 
        <a target="_blank" href="mailto:xilankong@126.com">邮箱</a></div>
      </section>
    </div>
    </div>
</body>
</html>
