<!DOCTYPE HTML>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:url" content="{{ site.github.url }}">
  <meta property="og:image" content="{{ site.github.url }}/img/portrait.png">
  <link rel="stylesheet" href="{{ site.github.url }}/css/home.css">
  <link rel="stylesheet" href="{{ site.github.url }}/css/combo.css">
    <style>
  .div_1{
    display: none;
  }
  </style>
</head>
<body>
  <section id="posts">
	{% for category in site.categories %}
	<div id="div_{{ forloop.rindex}}">
	<br/>
	<h2>{{ category | first }}</h2>
	<ul>
    {% for post in category.last %}
	  <li><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time>&nbsp;&nbsp;<a href="{{ site.github.url}}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
	</ul>
	</div>
	{% endfor %}
  </section>

</body>
</html>
